/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> 

kolory:


turkusowy - #27ab99;
pomarańcz - #ed8501;
czarny - #231f20;
szary - #d0d0d0;
biały - 818181;


font ciemny - #505050
font jasny - fffeff
font hover na tukrusie - #205e58

 */

/* import, mixiny, reusable*/
@import "compass/reset/";

@mixin vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
* {box-sizing: border-box;}

body {
	color: #fffeff;
	height: 100vh;

	h1, h2, h3, h4 {
		//font-family: 'Comfortaa', sans-serif;
		//font-weight: 700;
		font-family: 'Open Sans', sans-serif;


	}

	p {
		font-family: 'Open Sans', sans-serif;
		padding: 0 5px;
	}

	a {
		font-family: 'Open Sans', sans-serif;
	}
}

.clear {
	clear: both;
}

/* dodatkowe dla jquery */

.accordion__title--active { //klasa wylaczona poza repertuar z powodu JQUERY
    text-decoration: underline !important;
	} //  koniec accordion__title--active

.bx-wrapper .bx-pager {
    bottom: 95px;
  }
  
  .bx-wrapper .bx-pager a {
    border: solid #ed8501 4px;
    display: block;
    margin: 0px -2px;
    padding: 0px;
  }
  
  .bx-wrapper .bx-pager a:hover,
  .bx-wrapper .bx-pager a.active {
    border: solid #ed8501 5px;
    margin: 0px -3px;
  }
  
  .bx-wrapper {
    margin-bottom: 120px;
  }



/* main */


section.main { 
	
	min-height: 110px;
	//height: 100%;
	width: 100%;
	background: #27ab99;

	.hamburger {
				display: none;
			}
	
	
	nav { 

		position: absolute; 
		top: 0; 
		left: 0; 
		z-index: 999;
		width: 100%;
		height: 110px;
		
		img {
			margin: 31.125px 0 0 45px;
			width: 163px;
			height: 47.75px;
			//opacity: 1;
		}
		ul {
			display: block;
			float: right;
			position: relative;
			margin: 32.5px 45px 0 0;

			



			li {
				display: inline-block;
				

				a {
					display: block;
					//text-transform: uppercase;
					padding: 15px;
					font-size: 1.3em;
					text-decoration: none;
					text-align: center;
					color: rgba(255,255,255,0.8);	
					//text-shadow: #000 1px 1px 5px;

					&:hover { 
						color: #205e58; 
					}

				}
			}
		}

	}

} 

div.page-wrapper {
	height: auto;
	width: 80%;
	margin: 0 10% 0 10%;
	position: relative;

	.left-column {
		position: relative;
		float: left;
		width: 60%;
		height: auto;
		//margin: 0 auto;

		aside {

			width: 700px;
			margin: 47px auto 0 auto;

			iframe {
				width: 500px;
				height: 140px;
				margin: 120px auto 0 auto;
				overflow: hidden;
			}

			img {
				width: 185px;
				height: 130px;
				margin-bottom: 10px;
				//margin: -100px auto 0 auto;
			}

		}

	}

	.right-column {
		float: right;
		width: 40%;
		height: auto;
		margin: 0 auto;

	}
}

/* podstrona kontakt */

#map {

	display: block;
	width: 100%;
	height: 500px;
	margin: 50px 0px;
	overflow: auto;

}

#kontakt {
			margin: 35px auto 0 auto;
			width: 100%;
			height: 120px;
			background-color: #ed8501;

			 h2 {
				font-size: 2em;
				color: #fffeff;
				text-align: center;
				padding: 40.5px 0;
				text-transform: uppercase;
				}
				h3 {
					margin-top: - 30px;
					text-align: center;
				}
			}

.kontakt-gora-wrapper {
	display: block;
	float: left;
	width: 40%;
	margin: 30px 5%;
	color: #000;
	text-decoration: none;
	font-size: 25px;
}


/* repertuar */

section.repertuar {

	iframe {
		position: relative;
		width: 100%;
		margin: 0px auto 0 auto;
		//padding-top: -80px;
		height: 750px;
		overflow: visible;
	}

	/* div.accordion {
		position: relative;
		height: auto;
		width: 100%;
		margin: 35px auto 0 auto;*/
		
		div.h2_wrapper {
			margin: 35px auto 0 auto;
			width: 100%;
			height: 85px;
			background-color: #ed8501;

			 h2 {
				font-size: 40px;
				color: #fffeff;
				text-align: center;
				padding: 22.5px 0;
				}
		/*}*/

		.accordion__title {
		  height: 50px;
		  width: 100%;
		  padding: 0 20px;
		  margin-top: 5px;
		  position: relative;
		  cursor: pointer;
		  font-size: 16px;
		  line-height: 50px;
		  text-transform: uppercase;
		  color: #505050;
		  background-color: #f0f0f0;

		  p{
	  		display: inline-block;
	  		width: 30%;
	  		

	  		&:nth-child(2) {
	  			display: inline-block;
	  			width: 60%;
	  			text-align: right;
	  		}
	  	}

			  span {
			  	display: block;
			  	width: 50px;
			    height: 100%;
			    position: absolute;
			  	top: 0;
			  	right: 0;
			  	cursor: pointer;
				//background: url("../gfx/strzalka.png") no-repeat;
				//background-position: 10px 20px;
				background-color: #27ab99;
					&:hover {
						background-color: #205e58;
					}
					img {
						margin: 40% 15px;
					}
			  	}
} //  koniec accordion__title

.accordion_line {
  padding: 20px;
  border: 2px #ececec solid;
  font-size: 14px;
  line-height: 40px;
  background-color: #333333;

  li {
  		border-bottom: 1px solid #fffeff;

  		&:last-child {

  			border-bottom: 0px solid #fffeff;

  		}

	  	p{
	  		display: inline-block;
	  		width: 60%;
	  		

	  		&:last-child {
	  			display: inline-block;
	  			width: 40%;
	  			text-align: right;
	  		}
	  	}
	  }	
	}



} // koniec accordion
} // koniec repertuar

/* Opisy */

	section.opisy {
		display: block;
		position: relative;
		width: 100%;
		height: 1340px;

		div {
			display: block;
			float: left;
			width: 48%;
			margin: 1%;
			height: 410px;
			background-color: #2c2c2c;

			h3 {
				display: block;
				border-bottom: 1px solid #ed8501;
				width: 70%;
				font-size: 1.5em;
				padding: 20px 40px;
				margin-bottom: 10px;
			}
			img {
				height: 140px;
				margin: 0px 0px;
				width: 110px;
				float: left;

			}
			ul {
				display: block;
				float: left;
				width: 400px;
				li {
					p {
						display: inline-block;
						font-size: 1em;
						span {
							color: #b4b4ab;

						}

					}
				}
			}
			& > p {
				padding-top: 10px;
				
				display: block;
				float: left;
				font-size: .9em;
				width: 100%;

			}
		}

}


/* Koniec Opisy */

/* Cennik */

	section.cennik {
		display: block;
		height: 250px;
		width: 100%;
		

	ul {

		li {
			float: left;
			//border: 1px solid #fff;
			position: relative;
			font-family: 'Open Sans', sans-serif;
			height: 180px;
			margin: 0 0;
			padding: 20px 0;
			
			&:nth-child(1) {
				width: 12%;
				background-color: #231f20;
				p {
					font-size: 1.6em;
								margin: 35px 0 0 0;
								text-transform: uppercase;

					-ms-transform: rotate(-90deg);
					-webkit-transform: rotate(-90deg);
					transform: rotate(-90deg);
				}

			}
			&:nth-child(2) {
				width: 20%;
				background-color: #ed8501;

				& > span {
						display: block;
						float: left;
						height: 60px;
						width: 60px;
						margin: 30px 0 0 25px;
						background: url("../gfx/sprites_icons.png") no-repeat;
						background-position: 0px 0px;
						}

						p{
							display: inline-block;						
							&:nth-child(2) {
								font-size: 3em;
								margin: 30px 0 0 5px;
							}

							&:nth-child(3) {
								font-size: 1.2em;
								margin-left: -0.4em;
							}
							&:nth-child(4) {
								font-size: 1.2em;
								margin-left: 0.4em;
							}
						}
				
			}
			&:nth-child(3) {
				width: 20%;
				background-color: #f09727;

								& > span {
						display: block;
						float: left;
						height: 60px;
						width: 60px;
						margin: 30px 0 0 25px;
						background: url("../gfx/sprites_icons.png") no-repeat;
						background-position: 0px -61px;
						}

						p{
							display: inline-block;						
							&:nth-child(2) {
								font-size: 3em;
								margin: 30px 0 0 5px;
							}

							&:nth-child(3) {
								font-size: 1.2em;
								margin-left: -0.4em;
							}
							&:nth-child(4) {
								font-size: 1.2em;
								margin-left: 0.4em;
							}
						}
				
			}
			&:nth-child(4) {
				width: 20%;
				background-color: #ed8501;

					& > span {
						display: block;
						float: left;
						height: 60px;
						width: 60px;
						margin: 30px 0 0 28px;
						background: url("../gfx/sprites_icons.png") no-repeat;
						background-position: -3px -121px;
						}

						p{
							display: inline-block;						
							&:nth-child(2) {
								font-size: 3em;
								margin: 30px 0 0 5px;
							}

							&:nth-child(3) {
								font-size: 1.2em;
								margin-left: -0.4em;
							}
							&:nth-child(4) {
								font-size: 1.2em;
								margin-left: 0.4em;
							}
						}
				
			}
			&:nth-child(5) {
				width: 28%;
				background-color: #231f20;

				span {
						display: block;
						float: right;
						height: 60px;
						width: 60px;
						margin: 30px 28px 0 0;
						background: url("../gfx/sprites_icons.png") no-repeat;
						background-position: -3px -219px;
						}

						a > p {
							display: inline-block;						
							&:nth-child(1) {
								font-size: 1.25em;
								margin: 50px 0px 0 20px;
								color: #fffeff;
							}
						}
				
			}
			&:nth-child(6) {
				width: 100%;
				background-color: #231f20;
				height: 60px;
				padding: 0;
				margin: 20px 0;

						p {
							display: inline-block;	
							padding: 20px 25%;					
						}
				
			}
		} // koniec li
	} // koniec ul
} // koniec cennik

/* terminarz */

	section.terminarz {
		display: block;
		height: auto;
		width: 100%;
		

	ul {
		

		li {
			float: left;
			position: relative;
			font-family: 'Open Sans', sans-serif;
			height: 180px;
			padding: 20px 0;
			margin-top: 5px !important;
			
			&:nth-child(1) {
				width: 10%;
				background-color: #262626;
				p {
					font-size: 1em;
								margin: 10% 0 0 8%;
								text-transform: uppercase;
								line-height: 50px;

								&:nth-child(1) {
									color: #fff;
									text-shadow: 0px 1px #fff;

								}
								&:nth-child(2) {
									color: #fff;
									text-shadow: 0px 1px #fff;
									
								}

				}

			}
			&:nth-child(2) {
				width: 30%;
				background-color: #ed8501;

						a { 
							text-decoration: none;							
							p{
							color: #fffeff;
							display: block;	
							&:nth-child(1) {
								font-size: 1.2em;
								margin: 30px 0 0 10%;
							}					

							&:nth-child(3) {
								font-size: 1.2em;
								margin: 20px 0 0 10%;
							}
						}
					}
				
			}
			&:nth-child(3) {
				width: 30%;
				background-color: #f09727;

						a { 
							text-decoration: none;							
							p{
							color: #fffeff;
							display: block;	
							&:nth-child(1) {
								font-size: 1.2em;
								margin: 30px 0 0 5%;
							}					

							&:nth-child(3) {
								font-size: 1.2em;
								margin: 20px 0 0 5%;
							}
						}
					}
				
			}
			&:nth-child(4) {
				width: 30%;
				background-color: #ed8501;

						a { 
							text-decoration: none;							
							p{
							color: #fffeff;
							display: block;	
							&:nth-child(1) {
								font-size: 1.2em;
								margin: 30px 0 0 10%;
							}					

							&:nth-child(3) {
								font-size: 1.2em;
								margin: 20px 0 0 10%;
							}
						}
					}
				
			}
			
		} // koniec li
	} // koniec ul
	
	ul:nth-child(2) {
		li{
			&:nth-child(2) {
			background-color: #f09727;
			}
			&:nth-child(3) {
				background-color: #ed8501;
			}
			&:nth-child(4) {
				background-color: #f09727;
			}			
		}
	}

} // koniec terminarz

	

footer {
	position: relative;
	width: 100%;
	min-height: 300px;
	max-height: 1000px;
	background-color: #231f20;
	margin: 30px auto 0 auto;

	.footer-nav-1 { 
		width: 35%;
		height: 140px;
		float: left;
		margin: 65px 20px 32.5px 100px;
		border-right: 1px solid #fffeff;


		#social-icons {
				//margin: 0 0 32.5px 0;

				li {

					margin: 45px 5px 0 15px;
					//padding: 15px;

				

				&:nth-child(1) span {
							height: 40px;
							width: 30px;
							background-position: -88px -5px;
						}

					&:nth-child(2) {

						a {
							padding: 8px 7.2px !important;
						}

						span {
							height: 30px;
							width: 47px;
							background-position: -77px -107px;
						}
					}

					&:nth-child(3) {

							a {
								padding: 8px 15px !important;

						}

							span {
							height: 40px;
							width: 30px;
							background-position: -88px -178px;
							}
						}

				a{
					display: block;
						height: 55px;
						width: 55px;
						padding: 7px 13px;
					background-color: #4f4c4d;
					//margin: 5px;

					span {

							display: block;
							background: url("../gfx/sprites_icons.png") no-repeat;
							
					}

				}
			}
		}



		ul {
			display: block;
			float: left;
			position: relative;
			width: 100%;


			li {
				display: inline-block;
				

				a {
					display: block;
					//text-transform: uppercase;
					padding: 0 15px;
					font-size: .9em;
					text-decoration: none;
					text-align: center;
					color: rgba(255,255,255,0.8);	

					&:hover { 
						color: #205e58; 
					}

				}
			}
		}

	}

		.footer-nav-2 { 

		width: 45%;
		height: 150px;
		float: left;
		margin: 50px 0;
		//border-right: 1px solid #fff;

			#kontakt-wrapper {

				display: inline-block;
				width: 50%;

					p {
						width: 100%;
						color: rgba(255, 255, 255, 0.8);
						padding-top: 9px;
						line-height: 30px;

						a {
							text-decoration: none;
							color: rgba(255, 255, 255, 0.8);
						}
					}

				}


		img {
				margin: 40px 20px;
				width: 244.5px;
				height: 71.625px;
				float: right;
			}
		}
}


/* Large desktop */
@media (min-width: 1260px) { 


 }

 /* Portrait tablet to landscape and desktop */
@media (max-width: 1260px) { 


	div.page-wrapper {
		width: 90%;
	margin: 0 5% 0 5%;


		.bx-wrapper .bx-pager {
			display: none;
		}

		aside {
			width: 100%;

			margin: 0px 10%;


			img {
				display: none;
				}
			}
	} // koniec  page wrapper

	section.cennik {
		display: block;
		height: 250px;
		width: 100%;
		

	ul {
		li {
			
			margin: 0;
			padding: 20px 0;
			&:nth-child(5) {
				width: 28%;

				span {
						display: none;
					}
				a > p {					
							&:nth-child(1) {
								//font-size: 1.5em;
								margin: 50px 0px 0 45px;
							}
						}
			}
		}
	}
	} // koniec cennik

	
	footer {
	.footer-nav-2 { 
		img {
				margin: 70px 30px;
				width: 122px;
				height: 35.925px;
				float: right;
			}
		}
	} // koniec footer


/* Opisy */

	section.opisy {
		width: 100%;
		height: 2250px;

		div {
			width: 100%;
			margin: 1% 0%;
			height: 350px;
			h3 {
				width: 70%;
				font-size: 1.5em;
			}
			img {
				height: 140px;
				margin: 0px 0px;
				width: 110px;

			}
			ul {
				width: 700px;
				li {
					p {
						font-size: 1em;
					}
				}
			}
			& > p {
				font-size: .9em;
				width: 100%;
			}
		}
}
/* Koniec Opisy */

}

/* podstrona o nas */

.o_nas {
	color: #505050;

	p {
		padding: 10px 0;
		font-size: 20px;

		&:last-child {
			font-size: 20px;
		}
	}

	.jacksparrow {
			li {
				&:last-child {
			list-style-type: none;
				}
			}
		}

		li {
			font-family: 'Open Sans', sans-serif;
			list-style-type: circle;
			padding: 3px 0;
		}

}


/* Portrait tablet to landscape and desktop */
@media (max-width: 979px) { 

	section.main { 
	
	min-height: 110px;
	//height: 100%;
	width: 100%;
	background: #27ab99;

		.hamburger{
		  display: block;
		  background:none;
		  position:absolute;
		  top:0;
		  right:0;
		  line-height:45px;
		  padding:25px 35px 0px 15px;
		  color:#fff;
		  border:0;
		  font-size:2.8em;
		  font-weight:bold;
		  cursor:pointer;
		  outline:none;
		  z-index:10000000000000;
		}
		.cross{
		  background:none;
		  position:absolute;
		  top:0px;
		  right:0;
		  padding: 47px 38px 0px 15px;
		  color:#fff;
		  border:0;
		  font-size:6em;
		  line-height:65px;
		  font-weight:bold;
		  cursor:pointer;
		  outline:none;
		  z-index:10000000000000;
		}		
	
	
	nav { 
		
		position: relative; 
		width: 100%;
		height: 110px;
		
		ul {
			display: none;
			float: right;
			width: 100%;
			position: relative;
			margin: 0;

			li {
				display: inline-block;
							width: 100%;
			background-color: #27ab99;
			border-bottom: #fff;

				
				a {
					padding: 15px;
					font-size: 1em;

				}
			}
		}

	}

}

	div.page-wrapper {
	height: auto;
	width: 100%;
	margin: 0 5% 0 5%;
	position: relative;

	.left-column {
		position: relative;
		float: left;
		width: 92.5%;
		height: auto;
		//overflow: hidden;
		margin: 0 7.5% 0 0;

		.bx-wrapper .bx-pager {
			display: none;
		}

		aside {
			width: 100%;
			margin: 0px 5%;

			iframe {
				width: 500px;
				height: 140px;
				margin: 0px auto;
				overflow: hidden;
			}

			img {
				width: 185px;
				height: 130px;
				margin-bottom: 10px;
				//margin: -100px auto 0 auto;
			}

		}

	}

	.right-column {
		float: right;
		width: 90%;
		height: auto;
		margin: 0 10% 0 0;

		section.repertuar {

		div.h2_wrapper h2{
			font-size: 30px;
		}

		}

	}
}

	section.cennik {
		display: block;
		height: 250px;
		width: 92%;
		

	ul {
		li {
			//padding: 20px 0;
			&:nth-child(1) {
				//width: 12%;
				p {
					font-size: 1.2em;
					//margin: 35px 0 0 0;
				}

			}
			&:nth-child(2) {
				//width: 20%;

				& > span {
						//display: block;
						//margin: 30px 0 0 25px;
						}

						p{
							&:nth-child(2) {
								font-size: 2em;
								//margin: 30px 0 0 5px;
							}

							&:nth-child(3) {
								font-size: 1em;
								//margin-left: -0.4em;
							}
							&:nth-child(4) {
								font-size: .8em;
								//margin-left: 0.4em;
							}
						}
				
			}
			&:nth-child(3) {
				width: 20%;

					& > span {
						//display: block;
						//margin: 30px 0 0 25px;
						}

						p{
							&:nth-child(2) {
								font-size: 2em;
								//margin: 30px 0 0 5px;
							}

							&:nth-child(3) {
								font-size: 1em;
								//margin-left: -0.4em;
							}
							&:nth-child(4) {
								font-size: .8em;
								//margin-left: 0.4em;
							}
						}
				
			}
			&:nth-child(4) {
				width: 20%;
				background-color: #ed8501;

					& > span {
						display: block;
						//margin: 30px 0 0 28px;
						}

						p{
							&:nth-child(2) {
								font-size: 2em;
								//margin: 30px 0 0 5px;
							}

							&:nth-child(3) {
								font-size: 1em;
								//margin-left: -0.4em;
							}
							&:nth-child(4) {
								font-size: .8em;
								//margin-left: 0.4em;
							}
						}
				
			}
			&:nth-child(5) {
				width: 28%;
				background-color: #231f20;

				span {
						display: none;
						}

						a > p {
							display: inline-block;						
							&:nth-child(1) {
								font-size: 1.2em;
								margin: 50px 0px 0 35px;
								color: #fffeff;
							}
						}
				
			}
			&:nth-child(6) {
						p {
							font-size: 1em;
							display: inline-block;						
							padding: 10px 10%;
						}
				
			}
		} // koniec li
	} // koniec ul
} // koniec cennik

/* terminarz */

	section.terminarz {
		display: block;
		height: auto;
		width: 100%;
		

	ul {
		li {			
			&:nth-child(1) {

				p {
					font-size: .7em;
				}

			}
			&:nth-child(2) {
	
						a { p{
							&:nth-child(1) {
								font-size: 1em;
							}					

							&:nth-child(3) {
								font-size: 1em;
							}
						} }
				
			}
			&:nth-child(3) {
			
						a { p{
							display: block;	
							&:nth-child(1) {
								font-size: 1em;
							}					

							&:nth-child(3) {
								font-size: 1em;
							}
						} }
				
			}
			&:nth-child(4) {
			
						a { p{
							display: block;	
							&:nth-child(1) {
								font-size: 1em;
							}					

							&:nth-child(3) {
								font-size: 1em;
							}
						} }
				
			}
			
		} // koniec li
	} // koniec ul

} // koniec terminarz

	footer {
	.footer-nav-2 { 
		img {
				margin: 70px 30px;
				width: 122px;
				height: 35.925px;
				float: right;
			}
		}
	} // koniec footer

	/* podstrona kontakt */
	#kontakt-gora-wrapper {
			width: 760px;
}
	#map {
		width: 760px;
	}


 }

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 

	div.page-wrapper {
	height: auto;
	width: 100%;
	margin: 0 5% 0 5%;
	position: relative;

	.left-column {

		aside {
			img {
				display: none;
				}

		}

	}
}


	section.cennik {
	ul {
		li {
			&:nth-child(1) {
				p {
					font-size: 1em;
				}

			}
			&:nth-child(2) {
				& > span {
						display: none;
						}

						p{
							&:nth-child(2) {
								font-size: 2em;
							}

							&:nth-child(3) {
								font-size: 1em;
							}
							&:nth-child(4) {
								font-size: .8em;
							}
						}	
			}
			&:nth-child(3) {
				width: 20%;

					& > span {
						display: none;
						}
						p{
							&:nth-child(2) {
								font-size: 2em;
							}
							&:nth-child(3) {
								font-size: 1em;
							}
							&:nth-child(4) {
								font-size: .8em;
							}
						}
			}
			&:nth-child(4) {
				width: 20%;
					& > span {
						display: none;
						}
						p{
							&:nth-child(2) {
								font-size: 2em;
							}

							&:nth-child(3) {
								font-size: 1em;
							}
							&:nth-child(4) {
								font-size: .8em;
							}
						}
				
			}
			&:nth-child(5) {
				width: 28%;
				span {
						display: none;
						}
						a > p {
							display: inline-block;						
							&:nth-child(1) {
								font-size: 1em;
								margin: 50px 0px 0 10px;
							}
						}
				
			}
		} // koniec li
	} // koniec ul
} // koniec cennik

/* terminarz */

	section.terminarz {
		display: block;
		height: auto;
		width: 100%;
		

	ul {
		li {
			float: left;
			position: relative;
			font-family: 'Open Sans', sans-serif;
			height: 180px;
			padding: 20px 0;
			margin-top: 5px !important;
			
			&:nth-child(1) {
				width: 90%;
				height: 50px;
				background-color: #262626;
				p {
					display: inline-block;
					font-size: 1.2em;
								margin: 0% 0 0 10%;
								text-transform: uppercase;
								line-height: 10px;

								&:nth-child(1) {
									color: #37ed36;
									text-shadow: 1px 1px #37ed36;

								}
								&:nth-child(2) {
									color: #ff0000;
									text-shadow: 1px 1px #ff0000;
									
								}

				}

			}
			&:nth-child(2) {
				width: 90%;
				background-color: #ed8501;

						a { p{
							display: block;	
							&:nth-child(1) {
								font-size: 1.2em;
								margin: 30px 0 0 20%;
							}					

							&:nth-child(3) {
								font-size: 1.2em;
								margin: 20px 0 0 20%;
							}
						} } 
				
			}
			&:nth-child(3) {
				width: 90%;
				background-color: #f09727;

						a { p {
							display: block;	
							&:nth-child(1) {
								font-size: 1.2em;
								margin: 30px 0 0 20%;
							}					

							&:nth-child(3) {
								font-size: 1.2em;
								margin: 20px 0 0 20%;
							}
						} }
				
			}
			&:nth-child(4) {
				width: 90%;
				background-color: #ed8501;

						a { p{
							display: block;	
							&:nth-child(1) {
								font-size: 1.2em;
								margin: 30px 0 0 20%;
							}					

							&:nth-child(3) {
								font-size: 1.2em;
								margin: 20px 0 0 20%;
							}
						} }
				
			}
			
		} // koniec li
	} // koniec ul

} // koniec terminarz

/* Opisy */

	section.opisy {
		width: 100%;
		height: 2800px;

		div {
			width: 100%;
			margin: 1% 0%;
			height: 450px;
			h3 {
				width: 70%;
				font-size: 1.3em;
			}
			img {
				display: none;
				height: 110px;
				width: 140px;

			}
			ul {
				width: 500px;
				li {
					p {
						font-size: .8em;
					}
				}
			}
			& > p {
				font-size: .8em;
				width: 100%;
			}
		}
}
/* Koniec Opisy */

	footer {
		height: 300px;
	.footer-nav-1 { 
		width: 40%;
		margin: 0 5%;
		border: none;


	}
	.footer-nav-2 { 
		width: 40%;
		margin: 30px 5% 0 5%;
		img {
				display: none;
			}
		}
	} // koniec footer

		/* podstrona kontakt */

		#kontakt {
			width: 90%;
			font-size: 1em;
			height: 100px;
			margin: 30px 0;

			h2 {
				padding: 20px 0;
			}
			h3 {
					margin-top: 0px;
					font-size: .8em;
				}
		}

	#kontakt-gora-wrapper {
			width: 480px;
}
	#map {
		width: 350px;
	}

}

/* Landscape phones and down */
@media (max-width: 480px) { 

	div.page-wrapper {
	height: auto;
	width: 100%;
	margin: 0 5% 0 5%;
	position: relative;

	.left-column {

		aside {	
			iframe {
				width: 250px;

			}
		}

	}
}



section.cennik {
	ul {
		li {
			&:nth-child(1) {
				p {
					font-size: 1em;
				}

			}
			&:nth-child(2) {
				& > span {
						display: none;
						}

						p{
							&:nth-child(2) {
								font-size: 1.6em;
							}

							&:nth-child(3) {
								font-size: .8em;
							}
							&:nth-child(4) {
								font-size: .6em;
							}
						}	
			}
			&:nth-child(3) {
				width: 20%;

					& > span {
						display: none;
						}
						p{
							&:nth-child(2) {
								font-size: 1.6em;
							}

							&:nth-child(3) {
								font-size: .8em;
							}
							&:nth-child(4) {
								font-size: .6em;
							}
						}
			}
			&:nth-child(4) {
				width: 20%;
					& > span {
						display: none;
						}
						p{
							&:nth-child(2) {
								font-size: 1.6em;
							}

							&:nth-child(3) {
								font-size: .8em;
							}
							&:nth-child(4) {
								font-size: .6em;
							}
						}
				
			}
			&:nth-child(5) {
				width: 28%;
				span {
						display: none;
						}
						a > p {
							display: inline-block;						
							&:nth-child(1) {
								font-size: .8em;
								margin: 50px 0px 0 10px;
							}
						}
				
			}
		} // koniec li
	} // koniec ul
} // koniec cennik


	footer {
		height: 420px;
		padding: 20px 0;
	.footer-nav-1 { 
		width: 100%;
		padding: 0 10%;
		border: none;

		ul {
			li {
				a {
					display: block;
					width: 100%;
					//text-transform: uppercase;
					padding: 10px 45px;
					font-size: 2em;
					text-decoration: none;
					text-align: center;
					color: rgba(255,255,255,0.8);	

					&:hover { 
						color: #205e58; 
					}

				}
			}
		}
	}
	.footer-nav-2 { 
		display: none;
		
		}
	} // koniec footer

 }